@import url("reset.css");
@import url("common.css");
@import url("header.css");
@import url("footer.css");

/* ---------------------- */

/* About */
.main__about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 40px;
  padding: 20px;
  line-height: normal;
  font-size: 1.125rem;
  color: #000;
  border-radius: 0.625rem;
  background-color: #fff;
}
