/* Reset Styles */
@import url("reset.css");

/* Common Styles */
@import url("common.css");

/* Header Styles */
@import url("header.css");

/* Footer Styles */
@import url("footer.css");

/* ---------------------- */

.main__about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 40px;
  padding: 20px;
  font-size: 1.125rem;
  color: #000;
  border-radius: 20px;
  background-color: #fff;
}

.main__indicators p {
  font-size: 24px;
  font-weight: 900;
  border-bottom: 2px solid #000;
  max-width: fit-content;
  color: #646262;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.main__item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
}
