/* Reset Styles */
@import url("reset.css");

/* Common Styles */
@import url("common.css");

/* Header Styles */
@import url("header.css");

/* ---------------------- */

.main__about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.4rem;
  color: #000;
  border-radius: 20px;
  background-color: #fff;
}

.main__indicators p {
  margin-bottom: 20px;
}

.main__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.main__item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.main__contacts {
  display: flex;
  flex-direction: column;
}

.main__contacts p {
  margin-bottom: 15px;
}

.main__phonenumber {
  margin-bottom: 10px;
}

.main__phonenumber a:hover,
.main__contacts a:hover {
  color: #808080;
}
