html,
body {
	height: 100%;
	font-family: "Roboto";
	background-color: #4285f4;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	padding-top: 100px;
}
