html,
body {
  font-family: "Roboto";
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 49, 200, 1) 1%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding-top: 100px;
}
