/* Reset Styles */
@import url("reset.css");

/* Common Styles */
@import url("common.css");

/* Header Styles */
@import url("header.css");

/* ---------------------- */

/* Main */

.main__container {
}

#map {
	width: 62.5rem;
	height: 43.75rem;
	border-radius: 10px;
}
