/* Reset Styles */
@import url("reset.css");

/* Common Styles */
@import url("common.css");

/* Header Styles */
@import url("header.css");

/* ---------------------- */

/* Main */

.main {
  display: block;
}

#map {
  height: 60vh;
  margin-bottom: 1.875rem;
  border-radius: 1.25rem;
}

.main__explanation {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 2.125rem;
}

.main__explanation img {
  width: 40px;
}

.main__icons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: #fff;
  font-size: 1.25rem;
}

.main__info {
  display: flex;
  justify-content: center;
}

#info {
  display: none;
  width: 100%;
  padding: 20px;
  border-radius: 1.25rem;
  background-color: #fff;
}

table {
  text-align: center;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  padding: 0.3125rem;
  border: 1px solid #ddd;
}
