/* Reset Styles */
@import url("reset.css");

/* Common Styles */
@import url("common.css");

/* Header Styles */
@import url("header.css");

/* ---------------------- */

/* Main */

.main__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	font-weight: 700;
	padding-bottom: 50px;
	color: #fff;
}

.main__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 50px;
	font-size: 1.25rem;
	transition: all 0.2s ease-in-out;
	color: #fff;
	border-radius: 5px;
	background-color: #2f58cd;
	outline-color: transparent;
}

.main__button:hover {
	background-color: #ffffff;
	color: #0077ff;
	box-shadow: 0 0 10px rgba(0, 119, 255, 0.5);
}

/* Form */

.form {
	max-width: 550px;
	margin: 0 auto;
	padding: 30px 0;
}

.form * {
	outline-color: transparent;
}

.form__body {
	position: relative;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 10px;
}

.form__body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.9) url("../images/form/loading.gif") center /
		50px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}

.form__body._sending::after {
	opacity: 1;
	visibility: visible;
}

.form__title {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px;
}

.form__item {
	margin-bottom: 20px;
}

.form__label {
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}

.form__input {
	height: 50px;
	padding: 0px 20px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	color: #000;
	border: 1px solid #000;
	transition: all 0.5s ease 0s;
}

.form__input:focus {
	box-shadow: 0 0 15px #7a956b;
}

.form__input._error {
	box-shadow: 0 0 15px red;
}

.checkbox._error .checkbox__label::before {
	box-shadow: 0 0 15px red;
}

.checkbox__input {
	display: none;
}

.checkbox__input:checked + .checkbox__label::after {
	transform: scale(1);
}

.checkbox__label {
	position: relative;
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	line-height: 140%;
	cursor: pointer;
}

.checkbox__label::before {
	content: "";
	flex: 0 0 24px;
	align-self: flex-start;
	height: 24px;
	margin-right: 10px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #000;
}

.checkbox__label::after {
	transition: transform 0.5s ease 0s;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: #424242;
	border-radius: 4px;
	transform: scale(0);
}

.form__button {
	position: relative;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	width: 100%;
	background-color: #424242;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 5px 0 #161b13;
	transition: background-color 0.5s ease 0s;
}

.form__button:hover {
	background-color: #2b2a2a;
}

.form__button:active {
	top: 3px;
	box-shadow: 0 2px 0 #161b13;
}

/* Waves */
.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	min-height: 100px;
	max-height: 150px;
	margin-bottom: -7px; /*Fix for safari gap*/
}

/* Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
}
