/* Reset Styles */
@import url("reset.css");

/* Common Styles */
@import url("common.css");

/* Header Styles */
@import url("header.css");

/* Footer Styles */
@import url("footer.css");

/* ---------------------- */

.main__container h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}

/* Gallery */

.gallery * {
  transition: all 0.2s linear;
}

.gallery__title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.gallery a {
  height: 200px;
  width: 300px;
  margin: 20px;
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0 3px 5px #000;
}

.gallery a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery a img:hover {
  transform: scale(1.4);
}
